/* 首页专有main模块 */
.main {
    margin-top: 10px;
}

.main .focus {
/* 焦点图模块 */
    width: 721px;
    height: 455px;
    margin-left: 220px;
}
.main .focus img {
    width: 100%;
}

.main .newsflash {
/* 新闻快报模块 */
    width: 250px;
    height: 455px;
}

.main .newsflash .news {
/* 新闻模块 */
    height: 166px;
    border: 1px solid #e4e4e4;
    border-bottom: none;
}
.main .newsflash .news .news_hd {
/* 新闻头部模块 */
    height: 33px;
    border-bottom: 1px dotted #e8e8e7;
    line-height: 33px;
}
.main .newsflash .news .news_hd h5 {
/* 新闻头部模块标题 */
    font-size: 14px;
    font-weight: 400;
    margin-left: 16px;
    color: #333;
}
.main .newsflash .news .news_hd .more::after {
/* 右箭头 */
    float: right;
    content: '\e902';
    margin-left: 5px;
    margin-right: 12px;
}
.main .newsflash .news .news_bd ul li {
/* 新闻头部主体模块 */
    margin: 7px 16px 0;
    /* 溢出的文字省略号显示 */
    /* 先强制一行内显示文本 */
	white-space: nowrap;
	/* 溢出的部分隐藏 */
	overflow: hidden;
	/* 文字用省略号替代超出的部分 */
	text-overflow: ellipsis;
}

.main .newsflash .lifeservice {
/* 生活服务模块 */
    /* 隐藏超出的边框部分 */
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
}
.main .newsflash .lifeservice ul {
    width: 252px;
    text-align: center;
}
.main .newsflash .lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding-top: 13px;
}
.main .newsflash .lifeservice ul li i {
/* 生活服务模块小图标——使用精灵图 */
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}
.main .newsflash .lifeservice ul li .img1 {
    background: url(../images/icons.png) no-repeat -17px -16px;
}
.main .newsflash .lifeservice ul li .img2 {
    background: url(../images/icons.png) no-repeat -79px -17px;
}
.main .newsflash .lifeservice ul li .img3 {
    background: url(../images/icons.png) no-repeat -142px -17px;
}
.main .newsflash .lifeservice ul li .img4 {
    background: url(../images/icons.png) no-repeat -206px -15px;
}
.main .newsflash .lifeservice ul li .img5 {
    background: url(../images/icons.png) no-repeat -17px -88px;
}
.main .newsflash .lifeservice ul li .img6 {
    background: url(../images/icons.png) no-repeat -80px -88px;
}
.main .newsflash .lifeservice ul li .img7 {
    background: url(../images/icons.png) no-repeat -143px -88px;
}
.main .newsflash .lifeservice ul li .img8 {
    background: url(../images/icons.png) no-repeat -207px -88px;
}
.main .newsflash .lifeservice ul li .img9 {
    background: url(../images/icons.png) no-repeat -16px -159px;
}
.main .newsflash .lifeservice ul li .img10 {
    background: url(../images/icons.png) no-repeat -79px -159px;
}
.main .newsflash .lifeservice ul li .img11 {
    background: url(../images/icons.png) no-repeat -143px -155px;
}
.main .newsflash .lifeservice ul li .img12 {
    background: url(../images/icons.png) no-repeat -207px -160px;
}

.main .newsflash .lifeservice ul .jian {
/* 子绝父相 */
    position: relative;
}
.main .newsflash .lifeservice ul img {
/* 右上角减价小图标 */
    position: absolute;
    top: 0;
    right: 1px;
    width: 12px;
    height: 15px;
    background-color: royalblue;
}
.main .newsflash .bargain {
/* 特价商品 */
    width: 100%;
    margin-top: 5px;
}



/* 推荐模块 */
.recommend {
    height: 163px;
    margin-top: 10px;
}
.recommend .recom_hd {
    width: 210px;
    height: 100%;
    background-color: #5c5251;
    text-align: center;
    padding-top: 32px;
}
.recommend .recom_hd img {
/* 推荐模块图片 */
    width: 58px;
    height: 58px;
}
.recommend .recom_hd h4 {
/* 推荐模块标题 */
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.recommend .recom_bd {
/* 推荐内容 */
    width: 990px;
    height: 100%;
    background-color: #ebebeb;
    padding: 10px 0 10px;
}
.recommend .recom_bd ul li {
    float: left;
    width: 245px;
}
.recommend .recom_bd ul li:nth-child(even) {
/* 第偶数个li是 | */
    width: 1px;
    height: 143px;
    border-right: 1px solid #ddd;
}
.recommend .recom_bd ul li:nth-child(odd) {
/* 推荐内容的上外边距 */
    margin-top: 10px;
    padding-left: 20px;
}
.recommend .recom_bd ul li a:hover {
    color: #666;
}
.recommend .recom_bd ul li h5 {
/* 标题 */
    font-size: 16px;
    color: #333;
}
.recommend .recom_bd ul li h6 {
/* 副标题 */
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin: 6px 0 1px;
}
/* 副标题的背景颜色、宽度各不相同 */
.recommend .recom_bd ul li:first-child h6 {
    width: 87px;
    background-color: #00a0e8;
}
.recommend .recom_bd ul li:nth-child(3) h6 {
    width: 87px;
    background-color: #5fb200;
}
.recommend .recom_bd ul li:nth-child(5) h6 {
    width: 70px;
    background-color: #e2162f;
}
.recommend .recom_bd ul li:nth-child(7) h6 {
    width: 65px;
    background-color: #0085fb;
}
.recommend .recom_bd ul li p {
    font-size: 12px;
}
.recommend .recom_bd ul li span {
    display: block;
    width: 57px;
    font-size: 14px;
    margin-top: 17px;
    text-align: center;
    border-radius: 12px;
    color: #fff;
}
.recommend .recom_bd ul li:nth-child(3) span {
    background-color: #5fb200;
}
.recommend .recom_bd ul li:nth-child(5) span {
    background-color: #e2162f;
}
.recommend .recom_bd ul li:nth-child(7) span {
    background-color: #0085fb;
}
.recommend .recom_bd ul li img {
    float: right;
    margin-right: 10px;
}



/* 猜你喜欢模块 */
.like {
    margin-top: 22px;
}

.like .like_hd {
/* 猜你喜欢模块头部 */
    height: 36px;
    line-height: 36px;
}
.like .like_hd h5 {
    font-size: 18px;
    font-weight: 400;
    color: #333;
}
.like .like_hd p {
    font-size: 12px;
}
.like .like_hd p::after {
/* 换一批图标 */
    content: '\ea2e';
    margin-left: 8px;
    margin-right: 20px;
}

.like ul {
/* 猜你喜欢模块内容 */
    height: 234px;
    border: 1px solid #ededed;
}
.like ul li {
    float: left;
    width: 199px;
    padding-top: 23px;
    padding-left: 35px;
}
.like ul li .detail {
/* 图片介绍 */
    display: inline-block;
    width: 126px;
    margin-top: 9px;
    font-size: 18px;
    color: #df3033;
}
.like ul li .detail p{
    font-size: 12px;
    color: #666;
}
.like ul li .detail p:hover {
    color: #c81623
}
.like ul li span {
/* 竖线 | */
    float: right;
    height: 62px;
    border-right: 1px solid #ededed;
    margin-top: 7px;
}



/* 有趣区模块 */
.funny {
    margin-top: 21px;
}

.funny .funny_hd {
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    color: #333;
}
.funny .funny_hd span {
    margin-left: 25px;
}

.funny .funny_bd {
    height: 408px;
    border: 1px solid #ededed;
}
.funny .funny_bd img,
.funny .funny_bd .right li {
    float: left;
}
.funny .funny_bd .center {
    width: 633px;
}
.funny .funny_bd .right {
    width: 155px;
    margin: 12px 0;
}
.funny .funny_bd .right ul li {
    width: 75px;
    height: 55px;
    padding-top: 10px;
}
.funny .funny_bd .right ul li:nth-child(odd) {
    border-bottom: 1px dotted #e0e0e0;
}
.funny .funny_bd .right ul li:nth-child(even) {
    margin-left: 5px;
    border-left: 1px dotted #e0e0e0;
    border-bottom: 1px dotted #e0e0e0;
}
.funny .funny_bd .right ul li:nth-child(n+13) {
/* 去掉最后两个li的底边框 */
    border-bottom: none;
}



/* 家用电器模块 */
.floor_list {
    margin-top: 20px;
}
.floor_list li {
    float: left;  
}
.floor_list .box-bd img {
    transition: all 0.3s;
}
.floor_list .box-bd img:hover {
    margin-bottom: 2px;
    margin-left: 1px;
}
.floor_list .box-bd li {
    overflow: hidden;
}

.floor_list .box-hd {
/* 家用电器模块头部 */
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #c81623;
}
.floor_list .box-hd h3 {
/* 家用电器模块头部标题 */
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #c81623;
}
.floor_list .box-hd .tab_list {
/* 家用电器模块头部列表 */
    float: right;
    font-size: 12px;
    margin-right: 10px;
}
.floor_list .box-hd .tab_list li a {
    margin: 0 15px;
}
.floor_list .box-bd {
/* 家用电器模块身体 */
    height: 360px;
    margin-bottom: 20px;
}

.floor_list .box-bd .tab_content ul li {
    height: 360px;
    border-right: 1px solid #ededed;
}
.floor_list .box-bd .tab_content ul li img {
    width: 100%;
    border-bottom: 1px solid #ededed;
}

.floor_list .box-bd .tab_content ul li:first-child {
    width: 210px;
}
.floor_list .box-bd .tab_content .top {
    height: 105px;
    padding: 0 15px;
    background-color: #f9f9f9;
}
.floor_list .box-bd .tab_content ul li .top ul li {
    width: 84px;
    height: 34px;
    border-right: none;
    border-bottom: 1px solid #ededed;
    text-align: center;
    line-height: 33px;
}
.floor_list .box-bd .tab_content ul li .top ul li:nth-child(even) {
    margin-left: 10px;
}
.floor_list .box-bd .tab_content ul li:nth-child(2) {
    width: 330px;
}

.floor_list .box-bd .tab_content ul li:nth-child(n+3) {
    width: 220px;
}

.floor_list .brand_example {
/* 品牌推荐 */
    height: 67px;
    line-height: 67px;
    text-align: center;
    background-color: #f7f7f7;
}
.floor_list .brand_example ul li {
    width: 119px;
}
.floor_list .brand_example ul li:nth-child(even) {
    width: 1px;
    height: 37px;
    border-right: 1px dotted #ccc;
    margin-top: 15px;
}



/* 热门疯抢模块 */
.hot_shop {
    margin-top: 15px;
    margin-bottom: 35px;
}

.hot_shop .hd {
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #333;
}

.hot_shop .bd {
    height: 283px;
    border: 1px solid #e5e5e5;
    border-bottom: none;
}
.hot_shop .bd .col_239 {
    width: 239px;
    height: 100%;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.hot_shop .bd .col_220 {
    width: 660px;
    height: 100%;
}
.hot_shop .bd .col_220 a {
    float: left;
    width: 220px;
    height: 141px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.hot_shop .bd .col_299 {
    width: 299px;
    height: 100%;
    border-bottom: 1px solid #e5e5e5;
}



/* 左侧边栏模块 */
.fixedtool {
    position: fixed;
    top: 350px;
    left: 50%;
    margin-left: -676px;
    width: 66px;
    background-color: #fff;

}
.fixedtool ul li {
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
}
.fixedtool .current {
    background-color: #c81623;
    color: #fff;
    border-bottom: none;
}